@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0.5rem;
}

.main-container {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 350px;
  height: 550px;
  border-radius: 15px;
  gap: 12px;
}

.img {
  width: 100%;
  border-radius: 15px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem;
}

.text-container > h1 {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  color: hsl(218, 44%, 22%);
}

.text-container > p {
  font-size: 1.1rem;
  font-weight: 400;
  color: hsl(216, 15%, 48%);
  text-align: center;
  line-height: 1.5;
}
